@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

@import "tailwindcss";
@import "@catppuccin/tailwindcss/mocha.css";

@plugin "daisyui" {
  themes: false;
}

@plugin "../mocha.config.ts";

body {
  @apply bg-base-100 text-base-content;
}

.point-l {
  clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
}

.point-r {
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.point-lr {
  clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
}
