---
import type { Translator } from "@i18n/utils";
import { Icon } from "astro-icon/components";

interface Props {
  lang: string;
  t: Translator;
}

const { t } = Astro.props;
---

<section id="contact" class="py-20 bg-base-200">
  <div class="container mx-auto px-4 text-center">
    <h2 class="text-4xl font-bold mb-8">{t("contact.title")}</h2>
    <p class="text-xl max-w-2xl mx-auto mb-8">{t("contact.description")}</p>
    <a href="mailto:dylan.daev@gmail.com" class="btn btn-primary md:btn-lg">
      {t("contact.button")}
    </a>
  </div>
</section>

<footer class="bg-base-300 py-8">
  <div class="container mx-auto px-4">
    <div class="flex flex-col md:flex-row justify-between items-center">
      <div class="mb-4 md:mb-0">
        <h3 class="text-xl font-bold">{t("footer.title")}</h3>
        <p class="text-ctp-subtext0">{t("footer.description")}</p>
      </div>

      <div
        class="flex md:flex-col w-full md:w-fit md:space-y-4 items-center justify-evenly md:items-start"
      >
        <a
          href="https://github.com/Rockspringa"
          class="hover:text-primary transition-colors flex items-center gap-2"
        >
          <Icon name="github" class="w-6 h-6" />
          <span>{t("footer.github.personal")}</span>
        </a>

        <a
          href="https://github.com/AvaibleUser"
          class="hover:text-primary transition-colors flex items-center gap-2"
        >
          <Icon name="github" class="w-6 h-6" />
          <span>{t("footer.github.academic")}</span>
        </a>
      </div>
    </div>

    <div
      class="mt-8 pt-8 border-t border-base-content/10 text-center text-gray-400"
    >
      <p>{t("footer.disclaimer")}</p>
      <p class="mt-2">{t("footer.disclaimer.dev")}</p>
    </div>
  </div>
</footer>
