---
import Header from "@components/Header.astro";
import "@styles/globals.css";

const { title, lang } = Astro.props;
---

<!doctype html>
<html lang={lang} data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>

  <body class="min-h-screen bg-base-100">
    <Header />

    <main class="container mx-auto px-4 py-8">
      <slot />
    </main>
  </body>
</html>
